bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Terraform related
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Environment variables
.env